ADFDemoOindrila/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFDemoOindrila"
		},
		"trigger_pipeline_params_properties_Copy_pipeline_params_parameters_container": {
			"type": "string",
			"defaultValue": "adfdemoin"
		},
		"trigger_pipeline_params_properties_Copy_pipeline_params_parameters_folder": {
			"type": "string",
			"defaultValue": "input"
		},
		"trigger_pipeline_params_properties_Copy_pipeline_params_parameters_file": {
			"type": "string",
			"defaultValue": "empsorceData.csv"
		},
		"trigger_pipeline_params_properties_Copy_pipeline_params_parameters_destFolder": {
			"type": "string",
			"defaultValue": "output"
		},
		"trigger_pipeline_params_properties_Copy_pipeline_params_parameters_destFile": {
			"type": "string",
			"defaultValue": "test_params.csv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/write_sink_cache_to_variable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "maxSal",
							"value": {
								"value": "@activity('Data flow1').output.runStatus.output.cacheMaxSal.value[0].max_sal",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "write_cache_sink_dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"empdata": {},
									"cacheMaxSal": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"maxSal": {
						"type": "Integer"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_pipeline_params')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy_pipeline_params",
							"type": "PipelineReference"
						},
						"parameters": {
							"container": "[parameters('trigger_pipeline_params_properties_Copy_pipeline_params_parameters_container')]",
							"folder": "[parameters('trigger_pipeline_params_properties_Copy_pipeline_params_parameters_folder')]",
							"file": "[parameters('trigger_pipeline_params_properties_Copy_pipeline_params_parameters_file')]",
							"destFolder": "[parameters('trigger_pipeline_params_properties_Copy_pipeline_params_parameters_destFolder')]",
							"destFile": "[parameters('trigger_pipeline_params_properties_Copy_pipeline_params_parameters_destFile')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2025-03-30T13:43:00",
						"endTime": "2025-03-30T13:44:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": []
		}
	]
}