pipeline/lkp_actvty_all_rec_pipeline.json
{
	"name": "lkp_actvty_all_rec_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_folder_names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select NAMES from OUTPUTFOLDERS",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlDBDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_foldernames",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_folder_names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_folder_names').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy_input_output",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "inputDataDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "output_dataset_lkp",
									"type": "DatasetReference",
									"parameters": {
										"Foldername": {
											"value": "@item().NAMES",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"firstrow": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-31T07:38:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}